# Apuntes de Mysql

Estos son los apuntes de SQL  
Para ejecutar un script sql sin ingresar al terminal del gestor de la base de datos:  
```bash
$ sqlite3 database.db ".read SqlScripts/<nameScript>.sql"
```

## 11. Crear tablas

In [2]:
!cat SqlScripts/crearTable.sql

CREATE TABLE clientes (
    ID INTEGER PRIMARY KEY,
    NOMBRE TEXT,
    APELLIDO TEXT,
    DIRECCION TEXT
);

## 19. Insertar valores

## Lista de comandos
La lista de comandos de SQL m√°s usados:  


ID | Comandos | Comentarios  
-- | -------- | -----------
1  | select   | ...
2  | distinct | ... 
3  | where    | ...
4  | and / or | ... 
5  | in       | ...
6  | between  | ...
7  | like     | ...
8  | order by | ...
9  | group by | ...
10 | count    | ...
11 | create table | ... 
12 | drop table   | ...
13 | create index | ...
14 | drop index   | ...
15 | desc         | ...
16 | truncate table | ...
17 | alter table    | ...
18 | alter table    | ...
19 | insert into    | ... 
20 | update         | ...
21 | delete         | ...
22 | create database | ...
23 | drop database   | ...
24 | use             | ... 
25 | commint         | ... 
26 | rollback        | ... 
27 | join            | ... 
28 | union all       | ... 
29 | intersect       | ... 
30 | create views    | ... 
31 | having          | ... 
32 | save point      | ... 
33 | release         | ...
34 | set transaction | ... 
35 | create temporary | ...